<p id="notice"><%= notice %></p>

<h1>Dashboard Categorias</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboard_categorias.each do |dashboard_categoria| %>
      <tr>
        <td><%= dashboard_categoria.nome %></td>
        <td><%= dashboard_categoria.descricao %></td>
        <td><%= link_to 'Show', dashboard_categoria %></td>
        <td><%= link_to 'Edit', edit_dashboard_categoria_path(dashboard_categoria) %></td>
        <td><%= link_to 'Destroy', dashboard_categoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard Categoria', new_dashboard_categoria_path %>
